body {
  display: flex;
  flex-direction: row;
}
#drag1 {
  border: 1px solid black;
  background: blue;
  text-align: center;
  width: 200px;
  margin: 200px auto;
}
#div1, #div2 {
  border: 1px solid black;
  height: 400px;
  width: 400px;
}
